# composer vendor dir
/vendor

# build logs
/build/logs/
!/build/logs/.gitkeep

# web directories
/web/*
!/web/index.php

# runtime directory
/runtime

# test directories
/tests/report/
/tests/app/filesource/
/tests/app/runtime/
/tests/app/web/
