# composer vendor dir
/vendor

# local configuration
/config/local.yml
/config/parameters.yml

# build logs
/build/logs/
!/build/logs/.gitkeep

# web directories
/web/*
!/web/index.php

# runtime directory
/runtime

# test directories
/tests/report/
