# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# composer vendor dir
/vendor

# directory with images for dummy source
/isource
/tests/isource

# web directories
/web/*
!/web/index.php
/tests/web/*
!/tests/web/index.php

# test reports
/tests/report