<phpunit
    backupGlobals="true"
    backupStaticAttributes="false"
    cacheTokens="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
    verbose="true">

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <php>
        <env name="ACCEPTANCE_HOST" value="http://localhost"/>
    </php>

    <testsuite name="unit">
        <directory suffix=".php">./tests/Unit</directory>
    </testsuite>

    <testsuite name="functional">
        <directory suffix=".php">./tests/Functional</directory>
        <exclude>./tests/Functional/YandexDiskStorageDriverTest.php</exclude>
    </testsuite>

    <testsuite name="acceptance">
        <directory suffix=".php">./tests/Acceptance</directory>
    </testsuite>

</phpunit>
